<h1>ALL THE DOGS</h1>

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

<ul>
  <% @dogs.each do |dog| %>
    <li><%= dog.name %> belongs to <%= dog.owner %></li>
  <% end %>
</ul>
<a href="/dogs/new">New Dog!</a>
